@import url("style-sm-576.css");
@import url("style-md-768.css");
@import url("style-lg-992.css");
@import url("style-xl-1200.css");
@import url("style-xxl-1400.css");

/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}



.text-shadow {
    color: #ffffff;
    text-shadow: 0 0 3px #000000;
}

.carousel-item-overlay {
    position: relative;
}

.carousel-item-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2));
    /* background-color: rgba(0, 0, 0, 0.5); */
}

.carousel-item-overlay img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.carousel-item-overlay .carousel-caption-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.img-cover-10:hover {
    /* transform: scale(1.2); */
    filter: blur(5px);
}

.img-cover-post {
    object-fit: cover;
    background-position: center, top;
    height: 320px;
}

.img-cover-slide {
    object-fit: cover;
    background-position: center, top;
    height: 576px;
}

.img-cover-new {
    object-fit: cover;
    background-position: center, top;
    height: 120px;
}

@media (min-width: 992px) {

    /* Desktop */
    .navbar-nav .dropdown:hover>.dropdown-menu {
        display: block;
    }
}

@media (max-width: 991px) {
    .navbar-nav .dropdown:hover>.dropdown-menu {
        display: none;
    }

    .navbar-nav .dropdown:hover>.dropdown-menu.show {
        display: block;
    }
}

@media (min-width: 768px) {
    .navbar-nav .dropdown:hover>.dropdown-toggle::after {
        animation: rotateArrow 0.3s linear forwards;
    }

    .navbar-nav .dropdown:not(:hover)>.dropdown-toggle::after {
        animation: unrotateArrow 0.3s linear forwards;
    }
}

@media (max-width: 767px) {
    .navbar-nav .dropdown-toggle::after {
        animation: none;
        color: #3d3d3d;
    }

    .nav-link {
        color: #3d3d3d;
    }

    .nav-link:hover {
        color: #000000;
        font-weight: bold
    }
}

@keyframes rotateArrow {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

@keyframes unrotateArrow {
    from {
        transform: rotate(180deg);
    }

    to {
        transform: rotate(0deg);
    }
}