/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .navbar-nav .dropdown:hover>.dropdown-toggle::after {
        animation: rotateArrow 0.3s linear forwards;
    }

    .navbar-nav .dropdown:not(:hover)>.dropdown-toggle::after {
        animation: unrotateArrow 0.3s linear forwards;
    }

    .navbar-nav .dropdown:hover>.dropdown-menu {
        display: block;
    }

    .navbar-nav .dropdown:hover>.dropdown-menu {
        display: none;
    }

    .navbar-nav .dropdown:hover>.dropdown-menu.show {
        display: block;
    }
}